* {
    margin: 0;
    padding: 0;
}
.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba(7, 7, 44, 0.9);
}
body {
    background-color: rgb(0, 0, 33);
    color: white;
    font-family: Anek Devanagari;
}

 .fixed-header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: rgb(13, 13, 50);
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
    width: 100px;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 10px 0;
    width: 100%;
}

nav ul li a:hover {
    color: rgb(131, 151, 239);
    font-size: 1.06rem;
    border-radius: 65px;
    transition: color 1s ease;
    transform: scale(1.5);
}

.left {
    font-size: 1.5rem;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 80px 0;
}

.firstSection>div {
    width: 40%;
}

.leftSection {
    font-size: 3rem;
    margin-left: 90px;

}

.rightSection img {
    width: 80%;
    margin: 0 -25px 125px;
    border: white 2px solid;
    border-radius: 15px;
    transition: transform 0.3s ease;
}
.rightSection img:hover {
    transform: scale(1.15); /* Adjust the scale factor as desired */
}

.purple {
    color: rgb(154, 89, 215);
}

.textgrey {
    color: grey;
}

#element {
    color: rgb(154, 89, 215);
}

.secondSection {
    max-width: 80vw;
    margin: auto;
    height: 80vh;
}

main hr {
    border: 0px;
    background-color: #9c97f1;
    height: 1.2px;
    margin: 40px 80px;
}

.secondSection h1 {
    font-size: 1.9rem;
}

.secondSection .box {
    background: white;
    width: 80vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
}

.secondSection .vertical {
    background: white;
    width: 1px;
    height: 93px;
    margin: 0 190px;
}

.imageTop {
    width: 50px;
    position: relative;
    top: -60px;
    left: -9px;
    ;
}

.verticalText {
    position: relative;
    top: 50px;
    width: 150px;
    font-size: 14px;
}

.verticalDescription {
    position: relative;
    top: 60px;
    color: grey;
    width: 150px;
    font-size: 9px;
}

.logo-img {
    width: 250px;
    height: auto;
    margin-top: 10px;
    margin-left: -20%;
    /* mix-blend-mode: darken; */
}
footer{
    background-color: rgb(12, 12, 33);
}
.footer{
    display: flex;
    padding: 23px 122px;
    justify-content: space-evenly;
}
.footer ul{
    list-style: none;
}
.footer > div{
    width: 223px;
}
footer .footer-rights{
    text-align: center;
    color: grey;
    padding: 12px 0;
}
.leftSection .buttons{
    padding: 60px 0;
}
.leftSection .btn{
    padding: 12px;
    background-color: rgb(19, 19, 120);
    border: 2px solid white;
    border-radius: 6px;
    font-size: 20px;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}
.social-icons {
    display: flex;
    justify-content: center;
    height: 45px;
    margin: 0 620px;
    background-color: white;
    border-radius: 25px;
  }

.social-icon {
    margin: 5px 10px; 
    padding: auto;
}
.social-icon img:hover{
    transform: scale(1.25);
}

.social-icon img {
    width: 30px; /* Adjust the size of the icons */
}
.toolsUsage {
    background-color: rgb(0, 0, 33);
    width: 83%;
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 columns with equal width */
    justify-content: space-between; /* Optional: Distribute icons evenly within the grid */
    margin: 40px 80px;
    margin-right: 100px;
    padding: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
    gap: 10px; /* Optional spacing between icons */
  }
  
  .toolsUsage .toolsIcon {
    background-color: rgb(0, 0, 33);
    width: 50px; /* Not required with grid layout */
    height: 50px; /* Adjust height as needed */
    display: flex;
    align-items: center; /* Center content vertically */
    margin: inherit;
  }
  
  .toolsUsage .toolsIcon:not(:last-child) {
    margin-right: 20px; /* Optional spacing between icons */
  }



@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        height: auto;
    }

    nav ul {
        justify-content: flex-start;
        margin-top: 20px;
    }

    nav ul li {
        margin: 0 10px;
    }

    .leftSection, .rightSection {
        width: 100%;
        text-align: center;
        margin: 20px 0;
    }

    .leftSection {
        margin-left: 0;
    }

    .rightSection img {
        width: 70%;
    }

    .verticalText, .verticalDescription {
        width: 100%;
        text-align: center;
    }

    .footer {
        flex-direction: column;
        align-items: center;
    }

    .footer > div {
        width: auto;
        text-align: center;
    }

    .footer .footer-rights {
        padding: 12px 0;
    }

    .leftSection .buttons {
        padding: 20px 0;
    }
}
