* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 33);
    color: white;
    font-family: Anek Devanagari;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(7, 7, 44);
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: rgb(131, 151, 239);
    font-size: 1.02rem;
}

.left {
    font-size: 1.5rem;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 80px 0;
}

.firstSection>div {
    width: 40%;
}

.leftSection {
    font-size: 3rem;
    margin-left: 90px;

}

.rightSection img {
    width: 80%;
    top: 50px;
}

.purple {
    color: rgb(154, 89, 215);
}

.textgrey {
    color: grey;
}

#element {
    color: rgb(154, 89, 215);
}

.secondSection {
    max-width: 80vw;
    margin: auto;
    height: 80vh;
}

main hr {
    border: 0px;
    background-color: #9c97f1;
    height: 1.2px;
    margin: 40px 80px;
}

.secondSection h1 {
    font-size: 1.9rem;
}

.secondSection .box {
    background: white;
    width: 80vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
}

.secondSection .vertical {
    background: white;
    width: 1px;
    height: 93px;
    margin: 0 190px;
}

.imageTop {
    width: 50px;
    position: relative;
    top: -60px;
    left: -9px;
    ;
}

.verticalText {
    position: relative;
    top: 75px;
    width: 150px;
    font-size: 14px;
}

.verticalDescription {
    position: relative;
    top: 86px;
    color: grey;
    width: 150px;
    font-size: 9px;
}

.logo-img {
    width: 250px;
    height: auto;
    margin-top: 10px;
}
footer{
    background-color: rgb(12, 12, 33);
}
.footer{
    display: flex;
    padding: 23px 122px;
    justify-content: space-evenly;
}
.footer ul{
    list-style: none;
}
.footer > div{
    width: 223px;
}
footer .footer-rights{
    text-align: center;
    color: grey;
    padding: 12px 0;
}
.leftSection .buttons{
    padding: 60px 0;
}
.leftSection .btn{
    padding: 12px;
    background-color: rgb(19, 19, 120);
    border: 2px solid white;
    border-radius: 6px;
    font-size: 20px;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}